<!-- start custom footer snippets -->

<div class="page__footer-follow">
    <ul class="social-icons">
      {% if site.data.ui-text[site.locale].follow_label %}
        <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
      {% endif %}
  
      {% if site.footer.links %}
        {% for link in site.footer.links %}
          {% if link.label and link.url %}
            <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
          {% endif %}
        {% endfor %}
      {% endif %}
  
      {% unless site.atom_feed.hide %}
        <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
      {% endunless %}
    </ul>
</div>

<div class="pied">
  <div class="pied2">  
      <img src="assets/photos/logo_agcl.png" alt="Logo AGCL" >       
  </div>
  <div class="pied2"> 
    <div class="pied1">
        <h2><a href="">Lishi France</a></h2>
            <p><a href="">L'association</a></p>
            <p><a href="">Art Traditionnel Lishi</a></p>
            <p><a href="">Cours et Stages</a></p>
            <p><a href="">Liens</a></p>
            <p><a href="">Contact</a></p>
    </div>
    <div class="pied1">
        <h2><a href="/tech/">Liens institutionnels</a></h2>
            <p><a href="">FFSPT</a></p>
            <p><a href="">Union Pro Qi Gong</a></p>
    </div>
    <div class="pied1">
        <h2><a href="/tech/">Lishi en Europe et dans le monde</a></h2>
            <p><a href="">Royaume Uni</a></p>
            <p><a href="">Allemagne</a></p>
            <p><a href="">Chine</a></p>
    </div>  
    <div class="pied1">
        <h2><a href="/blog/">Partenaires locaux</a></h1>
            <p><a href="">CLAS du CNRS</a></p>
            <p><a href="">Centre Social Charpennes Tonkin</a></p>
    </div>
  </div>
  
</div>
  


{{ include sitemap.xml }}

<!-- end custom footer snippets -->
