/*==================== splash page ========================= */
.page__hero--overlay {
    display: flex;
    flex-direction: column-reverse;
    height: 90vh;
    margin-bottom: 0px;
    margin-top: 0;
}

#archive__item-body1 {
    height: auto;
    margin-bottom: 20px;
}

.feature__wrapper {
    border-bottom: none;
}


article.splash {
   padding-top: 40px;
}

/* Position du titre et de l'excerpt dans bandeau */
#conteneur.wrapper {
    justify-content: center;
    
}



p.page__lead {
    text-align: center;
    font-family: gilroy, Arial, sans-serif;
}

/* =================== Centrer excerpt page d'accueil ================= */

.page__hero--overlay .wrapper {
    display: block;
}

.page__hero--overlay .page__lead {
    max-width: 90%;
}

/*=================== Intro excerpt des pages ==================*/
.feature__item--center .archive__item-body {
    width: 95%;
}




/* ========================= Splash page intro centrée ============================ */

.feature__item--center1 {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    padding-top: 1em;
}

.feature__item--center1 .archive__item {
    background-color: rgba(255, 255, 255, 0);
}

.feature__item--center1 .archive__item-excerpt {
    text-align: center;
    font-size: large;
}

/* ================  barre de navigation sticky ======================= */

.masthead {
    position: -webkit-sticky; /* Safari */
    background-color: rgba(255, 255, 255, 0.8);
    position: sticky;
    top: 0;
    padding-bottom: 5px;
    margin-bottom: 0px;
    border-color: rgba(50, 98, 185, 0.3);
}


.greedy-nav {
    background-color: rgba(255, 255, 255, 0) ;
}


/* Couleur bouton primaire */

a.btn.btn--primary {
    font-family: gilroy-bold, Arial, sans-serif;
    background-color:rgba(50, 98, 185, 0.9);
}
.archive__item {
    background-color: rgba(255, 255, 255, 0.2);
}

/*=============== Couleur des éléments du menu et toggle menu ==========*/
.navicon, .navicon::before, .navicon::after {
    background-color: rgb(50, 98, 185);
}

.greedy-nav__toggle:hover .navicon, .greedy-nav__toggle:hover .navicon::before,.greedy-nav__toggle:hover .navicon::after {
    background-color: rgba(50, 98, 185, 0.8);
}


.greedy-nav a:hover {
    color: rgba(50, 98, 185, 0.8);
}

/* ========== footer ============== */
#footer {
    color: white;
}
.pied {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
 

.pied2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.pied3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pied1 {
    font-size: small;
    padding-left: 20px;
}

.page__footer-copyright {
    display: flex;
    justify-content: center;
}

.page__footer-follow {
    display: flex;
    justify-content: space-evenly;
}

.page__footer {
    background: rgb(50, 98, 185);
}


.social-icons .fas, .social-icons .fab, .social-icons .far, .social-icons .fal {
    color: white;
}

/* ==================================================== */
/* ================ Media Queries ===================== */
/* ==================================================== */